<%- include partials/header.ejs %>
<h1>Compose</h1>
<form class="" action="/" method="post">
  <div class="mb-3">
  <label class="form-label"> Title </label>
  <input type="text" class="form-control" name="Title">
    <label class="form-label"> Title </label>
    <textarea name="content" class="form-control" cols="50" rows="5"></textarea>
  </div>
  <br>
  <button type="submit" class="btn btn-primary" name="publish">Publish</button>
</form>

<%- include partials/footer.ejs %>
